.component-section {
  padding: 1.5rem;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  margin: 0;
  appearance: button;
  padding: 0.5rem 1.6875rem;
  transition: color 0.55s ease-in-out, background-color 0.55s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
  font-family: var(--mdb-btn-font-family);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6;
  color: #fff;
  text-align: center;
  user-select: none;
  border: 0;
  border-radius: 0.25rem;
  text-transform: uppercase;
  vertical-align: bottom;
  cursor: pointer;
}

.btn-primary {
  background-color: #3b71ca;
  box-shadow: 0 4px 9px -4px #3b71ca;
}

.btn-lg {
  padding-top: 0.75rem;
  padding-bottom: 0.6875rem;
}
