/* ButtonSection.css */
.wpb_animate_when_almost_visible {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
}

.sh-button-container {
  box-sizing: border-box;
  margin: 10px auto;
  margin-top: 0;
  margin-bottom: 0;
}

.sh-element-margin {
  box-sizing: border-box;
}

.sh-button {
  box-sizing: border-box;
  text-decoration: none;
  overflow-wrap: break-word;
  background-position: 50% 50%;
  display: inline-block;
  text-align: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  transform: translateZ(0px);
  transition: all 0.3s ease-in-out 0s;
  padding: 0px 16px;
  border-radius: 8px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.sh-button-text {
  font-weight: 700;
  position: relative;
  z-index: 10;
}
