.custom-carousel {
  position: relative;
}

.slides-container {
  display: flex;
  overflow: hidden;
}

.slide {
  display: none;
  flex: 0 0 100%;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  text-align: center;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}


.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: rgba(0, 0, 0, 0.8);
}


